table{
  width: 70%;
  margin-top: 40px;
}

Form{
  margin-top: 40px;

}

/* Form:focus{
  border-color: #ff80ff;
 
} */




 a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 400 ;
  margin: 10px;
}

a :hover{
  color: rgb(78,178,70);
}

Image{
  width:30px;
  height: 50px;
}
p{
  color: crimson ;
}

span{
  color: green;
}