nav {
  display: flex;
  font-family: sans-serif;
}
.logo {
  margin: 10px;
  line-height: 1px;
  width: 20%;
}
.other {
  width: 70%;
}
.line {
  border: 0.1px solid rgb(161, 150, 150);
}
p {
  font-size: 15px;
  padding-left: 25px;
}
a {
  font-size: 13px;
  padding: 20px;
  text-decoration: none;
  color: rgb(104, 78, 78);
}
h1 {
  font-size: 35px;

  color: rgb(158, 146, 146);
}
.first {
  display: flex;
  justify-content: space-around;
}
.second {
  padding: 15px;
}
